.card-box {
    width: 13.125rem;
    height: 17.5rem;
    border-radius: 0.625rem;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-shape {
    width: 8.6875rem;
    height: 8.6875rem;
    border-radius: 50%;
    background-color: red;
}

.text-div{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

