@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /*Color*/
    --black: #000000;
    --black-red: #3E0001;
    --maroon: #7C0000;
    --red: #F80000;
    --blue:#0090F8;
    --green: #33BF30;
    --white:#FFFFFF;
    --grey: #D9D9D9;
    /*Font*/
    font-family: 'Inter', sans-serif;
    /*Text Styles*/
    --heading1: 3rem;
    --heading2:2.25rem;
    --heading3:1.5rem;
    --heading4:1rem;
    --paragraph:1rem;

    background-color: var(--black);
}

* {
    padding: 0;
    margin: 0;
    color: var(--white);
}

p, a, button {
    letter-spacing: 0.05rem;
    text-align: justify;
    text-justify: inter-word;
}

.label-font{
    font-size: 0.5rem;
}
.text{
    font-size: var(--paragraph);
    letter-spacing: 0.01rem;
}

h1{
    font-size: var(--heading1);
}

h2{
    font-size: var(--heading2);
}

h3{
    font-size: var(--heading3);
}

h4{
    font-size: var(--heading4);
}

.text-white{
    color: var(--white);
}

.text-black{
    color: var(--black);
}

.text-red{
    color: var(--red);
}

.text-gray{
    color: var(--grey);
}

.button-text{
    font-size: var(--paragraph);
    font-weight: bold;
}

.field-text {
    font-size: var(--paragraph);
    font-weight: bold;
}

button {
    border: none;
    outline: none;
    padding: 0.625rem 3rem;
    align-items: center;
    border-radius: 0.625rem;
}

.button-red {
    background-color: var(--red);
    color: var(--white);    
}

.button-white {
    background-color: var(--white);
    color: var(--black);    
}

.button-blue {
    background-color: var(--blue);
    color: var(--white);    
}

.button-green {
    background-color: var(--green);
    color: var(--white);    
}

.red-glow{
    box-shadow: 2px 2px 20px 5px rgba(248, 0, 0, 0.75);
}

.red-extra-glow{
    box-shadow: 0px 0px 50px 20px rgba(248, 0, 0, 0.75);
}

.white-dim-glow{
    box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.50);
}

.white-glow{
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.75);
}

input{
    height: 2.5rem;
    width: 20rem;
    background-color: var(--white);
    color:var(--black);
    border-radius: 0.625rem;
    font-size: medium;
    border: none;
}

textarea {
    width: 75%;
    height: 10rem;
    padding:1rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.625rem;
    background-color: var(--white);
    color:var(--black);
    font-size: 16px;
    resize: none;
    text-align: justify;
    text-justify: inter-word;
}


textarea::placeholder{
    color: var(--grey);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}


input:focus{
    border-color: var(--red);
}

input::placeholder{
    color: var(--grey);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 1rem;
}

input:required{
    border-color: var(--red);
}

.description-input{
    height: 10rem;
}
.req {
    color: var(--red);
    padding: 0.2rem;
}

.button-pagination{
    height: 2.8125rem;
    width: 2.8125rem;
    border-radius: 0.625rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
    font-size: larger;
    font-family: 'Inter', sans-serif;
}

input[type="checkbox"] {
    background-color: var(--white);
    margin: 0;
    font: inherit;
    color: var(--white);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--white);
    border-radius: 0.4em;
}

input[type="checkbox"]:checked {
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}


select {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    background-color: var(--white);
    color: var(--grey);
    background-image: none;
    cursor: pointer;
    border-radius: 0.4rem;
    height: 2.5125rem;
    width: 5rem;
    padding: 0.6875rem 0.75rem;
    font-weight: bold;
    font-size: larger;
    font-family: 'Inter', sans-serif;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 50%; 
    right: 10px;
    margin-top: -1px; /* Adjust this value to center the arrow more accurately */
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: red; /* Change this color to the desired color */
}

option{
    color: var(--black);
}
  