body {
    padding: 100px 0;
}

section {
    padding: 0 100px;
}

h2 {
    padding: 10px;
}

#video-player {
    width: 100%;
}

#details {
    display: flex;
    flex-wrap: wrap;
}


#left-details {
    flex-grow:1;
    flex-basis: 40%;
    margin-right: 200px;
}

#release {
    flex-grow: 1;
}

#duration {
    flex-grow: 1;
}

.film-detail {
    padding: 10px;
}